[submodule "tt01-simple-storage/lib/forge-std"]
	path = tt01-simple-storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "tt01-simple-storage/lib/foundry-zksync"]
	path = tt01-simple-storage/lib/foundry-zksync
	url = https://github.com/matter-labs/foundry-zksync
